<!DOCTYPE html>
<html lang="es" class="prueba">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>inicio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+Khojki&display=swap"
    rel="stylesheet"
  />
</head>
<header class="header">
  <div class="logo-container">
    <img
      class="logo"
      src="/assets/Unidades_Tecnológicas_de_Santander_(UTS)_logo.png"
      alt=""
    />
  </div>
</header>
<body class="cuerpo">

  <main>
  <div class="containerH">
    <h2 class="titulo">Software de gestion de turnos</h2>
    <div class="img-container">
      <img src="/assets/undraw_building_websites_i78t.svg" class="imagen" />
    </div>
    <div class="botones">
      <button class="btn" routerLink="registrar-turno">vista cliente</button>
      <button class="btn" routerLink="turnos">vista gestion</button>
    </div>
  </div>
</main>
</body>
</html>
