<div class="container w-75 bg-light mt-5 pb-5 rounded shadow ">

    <div class="cont">
        <form  (ngSubmit)="onSubmit()" method="post">
            <div class="name pl-3 pt-3 w-50">
                <label for="name">Nombre: </label>
                <br>
                <input class="form-control" type="text" id="Nombre" [(ngModel)]="asesores.nombre" name="nombre">
            </div>
            <div class="name pl-3 w-50">
                <label for="name">Apellido: </label>
                <br>
                <input class="form-control" type="text" id="Apellido" [(ngModel)]="asesores.apellido" name="apellido"
                     >
            </div>
            <div class="name pl-3 w-50">
                <label for="name">Documento: </label>
                <br>
                <input class="form-control" type="text" id="Documento"  [(ngModel)]="asesores.documento" name="documeto">
            </div>
            
            

            <div class="name pl-3 w-50">
                <br>
                <button class="btn btn-info" type="submit">Agregar</button>
            </div>
            

        </form>
        
    </div>
</div>