<div class="container w-75 bg-light mt-5 pb-5 rounded shadow ">
    <h3 class="text-center">Edición de Turno</h3>
    <div class="cont">
        <form (ngSubmit)="guardarCambios()" method="post">
            <div class="name pl-3 pt-3 w-50">
                <label for="nombre">Nombre:</label>
                <br>
                <input class="form-control" type="text" id="nombre" [(ngModel)]="turno.nombre" name="nombre">
            </div>
            <div class="name pl-3 w-50">
                <label for="apellido">Apellido:</label>
                <br>
                <input class="form-control" type="text" id="apellido" [(ngModel)]="turno.apellido" name="apellido">
            </div>
            <div class="name pl-3 w-50">
                <label for="documento">Documento:</label>
                <br>
                <input class="form-control" type="text" id="documento" [(ngModel)]="turno.documeto" name="documento">
            </div>
            <div class="name pl-3 w-50">
                <label for="modulo">Módulo:</label>
                <br>
                <select class="form-control" id="modulo" [(ngModel)]="turno.modulo" name="modulo">
                    <option *ngFor="let modulo of modulos" [value]="modulo.id">{{ modulo.nombre }}</option>
                </select>
            </div>
            
            <div class="name pl-3 w-50">
                <br>
                <button class="btn btn-info" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>
